body{background: url("fonnn.jpg")


}
main{display: block;
     margin: 0 auto;
     background-color: white;
     width: 1200px;
     height: 2100px;
}
nav {display: flex;
    height: 100px;
    background-color: lightblue;
   
    border-left-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: white;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    top: 0;

}
.img_nav{ background-color: lightblue;
height: 100px;
width: 500px; 
float: left;
display: flex; /* */
justify-content: space-around;
}

.img_nav img{
    height: 100px;
}
.nav_menu{
    width: 600px;
    float: right;
    height: 100px;
    text-align: center;
    margin: 0;
}

.nav_menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_menu li{
    font-family: Times New Ro...;
    color: white;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    position: relative;
    padding: 0;
    margin: 0;
}

li:hover{
    background: #ff9933;
    cursor: pointer;
    color: #402720;
}
.foto{
    height: 450px;
    background-color: lightblue;
}
.foto img{
  width:1200px; 
}
.foto_misto {
  margin: 10px;
  height: 500px;
  width:440px;
  background-color: lightblue;
  float: left;
  display: flex; align-items: center; 
}
.foto_misto img{
 height: 500px;
}
.text_misto {
  height: 500px;
  width: 700px;
  background-color: lightblue;
  float: right;
  margin: 10px;
}

.nav_menu a{
  color: blue;
}